
<%- include (header) -%>
    
      <div class="header-container">
        <div class="header">
          <div class="header-img">
            <img class="header-img-top" src="/images/icon-top.png" alt="icon">
            <img class="header-img-bottom" src="/images/icon-bottom.png" alt="icon">
          </div>
          <h1><%=headTitle%></h1>
        </div>
      </div>
    <div class="background">

      <div class="about section" id="about">
        <div class="about-slide" id="about-slide">
          <h1><%=aboutHeader%></h1> 
          <p> 
            <%=aboutParagraph%>
          </p>
        </div>
      </div>
      <script>
        $(document).scroll(function () {
          var y = $(this).scrollTop();
          var x = $("#about").position();

          if (y = (x.top - 50)) { // -50 so things don't overlap
            $(".about-slide").addClass(
              "slideInAnimation"
            );
          }
          else {
            $(".about-slide").removeClass(
              "slideInAnimation"
            );
          }
        });
      </script>

      

      <div class="skills card-section" id="skills">
        <h1><%=skillsHeader%></h1> 
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header">
                <h3><%=skillsFirstCardHeader%></h3> 
              </div>
              <div class="card-body">
                <p> 
                  <%=skillsFirstCardParagraph%>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card text-center">
              <div class="card-header">
                <h3><%=skillsSecondCardHeader%></h3>
              </div>
              <div class="card-body">
                <p>
                  <%=skillsSecondCardParagraph%>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card text-center">
              <div class="card-header">
                <h3><%=skillsThirdCardHeader%></h3> 
              </div>
              <div class="card-body">
                <p>
                  <%=skillsThirdCardParagraph%>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="work card-section" id="work">
        <h1><%=workHeader%></h1>
        <div class="row">
          <div class="<%=workText%> col-lg-8 col-md-8">
            <p>
              <%=workParagraphFirst%>
              <br> 
              <%=workParagraphSecond%>
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <a class="card-href" href="http://daymakerapp.herokuapp.com">
              <div class="card">
                <div class="card-header">
                  <img src="/images/daymaker-img.jpg" alt="daymaker-img">
                </div>
                <div class="card-footer">
                  <p><%=workFooter%></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="contact section" id="contact">
        <h1><%=contactHeader%></h1>
        <p>
          <%=contactParagraphFirst%>
          <br>
          <%=contactParagraphSecond%>
        </p>
        <form class="contact-form-bottom" action="/email" method="post">
          <input type="text" name="fullName" placeholder="<%=contactInputName%>" required>
          <input type="email" name="email" placeholder="<%=contactInputEmail%>" required>
          <input type="tel" name="phoneNumber" placeholder="<%=contactInputPhone%>">
          <button class="btn btn-outline-light btn-lg" type="submit" name="submit">
            <%=contactButton%>
          </button>
        </form>
        <a class="contact-href" href="mailto:taltzabari48@gmail.com"><i class="far fa-envelope"></i> taltzabari48@gmail.com</a>
        <br>
        <a class="contact-href" href="https://github.com/TalTZ-afk"><i class="fab fa-github"></i> <%=githubText%></a>
    </div>
    
    <a class="top-link hide" href="" id="js-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
      <span class="screen-reader-text">Back to top</span>
    </a>

    <script>
      const scrollToTopButton = document.getElementById('js-top');

      function scrollFunc() {
      let y = window.scrollY;
      
        if (y > 0) {
          scrollToTopButton.className = "top-link show";
        } else {
          scrollToTopButton.className = "top-link hide";
        }
      };

      window.addEventListener("scroll", scrollFunc);

      function scrollToTop() {
        const c = document.documentElement.scrollTop || document.body.scrollTop;
        
        if (c > 0) {
          window.requestAnimationFrame(scrollToTop);
          window.scrollTo(0, c - c / 10);
        }
      };

      scrollToTopButton.onclick = function(e) {
        e.preventDefault();
        scrollToTop();
      }
    </script>

  </body>

  <footer>Copyrights © <%= year %></footer>

</html>
